@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.btn {
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  height: auto;
  padding: 0.65rem 1.25rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  color: white;
  background: #1a73e8;
  transition: 0.2s ease;
  &:hover {
    transform: scale(1.05);
  }
}
